data/human_answers_4048be15-3619-4551-97e9-8a7e020f4550.csv filter=lfs diff=lfs merge=lfs -text
data/human_answers_6ff2fff1-bf7f-4cdd-8a32-ae225a22e804.csv filter=lfs diff=lfs merge=lfs -text
data/__init__.py filter=lfs diff=lfs merge=lfs -text
data/filtered_questions_for_catalysis.json filter=lfs diff=lfs merge=lfs -text
data/human_answers_c80f4614-41fd-4acf-b84a-72ec892f10f6.csv filter=lfs diff=lfs merge=lfs -text
data/Q&A_jsons_gpt_4 filter=lfs diff=lfs merge=lfs -text
data/rsc_augmented.csv filter=lfs diff=lfs merge=lfs -text
data/all_questions_gpt_4.json filter=lfs diff=lfs merge=lfs -text
data/chem_mqa_metadata.json filter=lfs diff=lfs merge=lfs -text
data/downloaded_dois filter=lfs diff=lfs merge=lfs -text
data/human_answers_8951360a-b3c8-49ab-85df-c8975a7dc048.csv filter=lfs diff=lfs merge=lfs -text
data/human_answers_a5a0dcb5-2e44-49cb-be19-22f608925074.csv filter=lfs diff=lfs merge=lfs -text
data/human_answers_bc634956-0a00-44ab-95d4-9247911792c5.csv filter=lfs diff=lfs merge=lfs -text
data/all_questions_gpt_3_5.json filter=lfs diff=lfs merge=lfs -text
data/chem_mqa_dataset.json filter=lfs diff=lfs merge=lfs -text
data/Q&A_jsons_gpt_3_5 filter=lfs diff=lfs merge=lfs -text
data/rsc_downloaded_articles.csv filter=lfs diff=lfs merge=lfs -text
